version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: daily
    ignore:
      - dependency-name: "elasticsearch"
        versions: ["7.x", "8.x"]
        # We can't upgrade to version 7 or beyond
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: ruby
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
