<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%=h @page_title %></title>
  <%- if @page_section and @page_section_link -%>
    <meta content="<%=h @page_section %>" name="x-section-name">
    <meta content="<%=h @page_section_link %>" name="x-section-link">
  <%- end -%>
  <% yield_content :head %>
</head>
<body class="mainstream">
  <div id="wrapper" class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
