<header>
  <h1>Search results</h1>
</header>

<div class="results top group">
  <ul class="search-not-found">
    <li>
      <h3>Please try again</h3>
      <p>You haven't specified a search query</p>
      <p>Return to the search box at the top of the page and try another search.</p>
    </li>
  <ul>
</div>
