<section id="content" role="main" class="group ancillary search">
  <header>
    <h1>Search results for <em><%= h @query %></em></h1>

    <form id="search2" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
        <p>
          <label for="main_autocomplete2" class="visuallyhidden">Search</label>
          <input type="text" id="main_autocomplete2" name="q" value="<%=h @query %>">
          <input type="submit" value="Search" class="button">
        </p>
      </fieldset>
    </form>

    <p>Sorry, we can’t find any results for <em><strong><%=h @query %></strong></em>.</p>

    <p>This is a beta test website, so it’s not searching all government information. That might be why we couldn’t find what you were after.</p>

    <p>Please try another search in the search box at the top of the page.</p>

    <p>Also, please remember that this is a trial site and may contain inaccuracies and incomplete information. This may affect the results that you get.</p>

    <p><a href="http://www.direct.gov.uk/en/index.htm">Directgov</a> remains the official site for government services and information.</p>

    <p><a href="/feedback">You can leave feedback on this or any other part of the site.</a></p>
    
    
  </header>
</section>