<section id="content" role="main" class="group ancillary section-page">
  <header>
    <h1>Browse GOV.UK</h1>
  </header>

  <div class="sections-list">
    <dl>
      <% @results.each do |section| %>
        <dt>
          <a href="<%= section.path %>"><%=h section.name %></a>
        </dt>
        <dd>
          <%= include section.slug %>
        </dd>
      <% end %>
    </dl>
  </div>
</section>