<section id="content" role="main" class="group ancillary section-page">
  <header>
    <h1>Driving</h1>
  </header>

  <div class="results group">
    <ol class="group">
      <% @results.each do |result| %>
        <li class="<%= result.presentation_format %>">
          <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
        </li>
      <% end %>
    </ol>
  </div>
</section>