<div class="related sections-list">
  <div class="inner group">
    <h2>Sections</h2>
    <ul>
      <% @sections.each do |section| %>
      <li><a href="<%= section.path %>"><%= formatted_section_name(section.slug) %></a></li>
      <% end %>
    </ul>
  </div>
</div>
