<section id="content" role="main" class="group sections-page">
  <header class="page-header group">
    <hgroup>
      <h1>All sections</h1>
    </hgroup>
  </header>

  <div class="browse-sections">
    <dl>
      <% @sections.each do |section| %>
        <dt>
          <a href="<%= section["content_with_tag"]["web_url"] %>"><%=h section["title"] %></a>
        </dt>
        <dd>
          <p>
            <%= section["details"]["description"] %>
          </p>
        </dd>
      <% end %>
    </dl>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse.json">
<% end %>
