attrs==20.3.0
awscli==1.19.53
boto3==1.17.53
botocore==1.20.53
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
docutils==0.15.2
google-pasta==0.2.0
idna==2.10
importlib-metadata==4.0.0
jmespath==0.10.0
numpy==1.22.0
packaging==20.9
pandas==1.2.4
protobuf==3.18.3
protobuf3-to-dict==0.1.5
pyasn1==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.7
sagemaker==2.35.0
six==1.15.0
smdebug-rulesconfig==1.0.1
typing-extensions==3.7.4.3
urllib3==1.26.5
zipp==3.4.1
