---
base_path: "/search/all"
content_id: dd395436-9b40-41f3-8157-740a453ac972
document_type: finder
locale: en
publishing_app: search-api
rendering_app: finder-frontend
schema_name: finder
title: Search
description: Find content from government
details:
  default_documents_per_page: 20
  document_noun: result
  reject:
    link:
      - "/search/all"
  format_name: Documents
  facets:
  - key: "_unused"
    display_as_result_metadata: false
    filter_key: all_part_of_taxonomy_tree
    filterable: true
    keys:
    - level_one_taxon
    - level_two_taxon
    name: topic
    preposition: about
    short_name: topic
    type: taxon
  - display_as_result_metadata: false
    filterable: true
    key: manual
    name: Manual
    preposition: in manual
    short_name: in
    type: hidden_clearable
    show_option_select_filter: false
    allowed_values: []
  - display_as_result_metadata: false
    filterable: true
    key: content_store_document_type
    name: Document type
    preposition: Of type
    type: hidden_clearable
    show_option_select_filter: false
    allowed_values: []
  - display_as_result_metadata: false
    filterable: true
    key: content_purpose_supergroup
    name: Show only
    preposition: in
    short_name: In
    type: text
    show_option_select_filter: true
    allowed_values:
    - label: Services
      value: services
    - label: Guidance and regulation
      value: guidance_and_regulation
    - label: News and communications
      value: news_and_communications
    - label: Research and statistics
      value: research_and_statistics
    - label: Policy papers and consultations
      value: policy_and_engagement
    - label: Transparency and freedom of information releases
      value: transparency
  - display_as_result_metadata: true
    filterable: true
    key: organisations
    name: Organisation
    preposition: from
    short_name: From
    type: hidden_clearable
    show_option_select_filter: true
  - display_as_result_metadata: false
    filterable: true
    key: world_locations
    name: World location
    preposition: in
    type: hidden_clearable
    show_option_select_filter: false
  - display_as_result_metadata: true
    filterable: true
    key: public_timestamp
    name: Updated
    short_name: Updated
    preposition: Updated
    type: date
  - display_as_result_metadata: false
    filterable: true
    key: topical_events
    name: Topical event
    preposition: about
    short_name: about
    type: hidden_clearable
    show_option_select_filter: false
    allowed_values: []
  show_summaries: true
  sort:
  - default: true
    key: "-popularity"
    name: Most viewed
  - key: "-relevance"
    name: Relevance
  - key: "-public_timestamp"
    name: Updated (newest)
  - key: public_timestamp
    name: Updated (oldest)
routes:
- path: "/search/all"
  type: exact
- path: "/search/all.atom"
  type: exact
- path: "/search/all.json"
  type: exact
