---
base_path: "/search/all"
content_id: dd395436-9b40-41f3-8157-740a453ac972
document_type: finder
locale: en
publishing_app: rummager
rendering_app: finder-frontend
schema_name: finder
title: All content
description: Find content from government
details:
  default_documents_per_page: 20
  document_noun: result
  format_name: Documents
  hide_facets_by_default: true
  facets:
  - key: "_unused"
    display_as_result_metadata: false
    filter_key: all_part_of_taxonomy_tree
    filterable: true
    keys:
    - level_one_taxon
    - level_two_taxon
    name: topic
    preposition: about
    short_name: topic
    type: taxon
  - display_as_result_metadata: false
    filterable: true
    key: manual
    name: Manual
    preposition: in manual
    short_name: in
    type: hidden_clearable
    show_option_select_filter: false
    allowed_values: []
  - display_as_result_metadata: true
    filterable: true
    key: organisations
    name: Organisation
    preposition: from
    short_name: From
    type: text
    show_option_select_filter: true
  - display_as_result_metadata: false
    filterable: true
    key: people
    name: Person
    preposition: from
    type: text
    show_option_select_filter: true
  - display_as_result_metadata: true
    filterable: true
    key: world_locations
    name: World location
    preposition: in
    type: text
    show_option_select_filter: true
  - display_as_result_metadata: true
    filterable: true
    key: public_timestamp
    name: Updated
    short_name: Updated
    preposition: Updated
    type: date
  show_summaries: true
  sort:
  - default: true
    key: "-popularity"
    name: Most viewed
  - key: "-relevance"
    name: Relevance
  - key: "-public_timestamp"
    name: Updated (newest)
  - key: public_timestamp
    name: Updated (oldest)
routes:
- path: "/search/all"
  type: exact
- path: "/search/all.json"
  type: exact
