---
base_path: "/search/news-and-communications"
content_id: 622e9691-4b4f-4e9c-bce1-098b0c4f5ee2
document_type: finder
locale: en
publishing_app: search-api
rendering_app: finder-frontend
schema_name: finder
title: News and communications
description: Find news and communications from government
signup_content_id: 54fa4dca-4dfb-40a5-b860-127716f02e75
details:
  document_noun: result
  filter:
    content_purpose_subgroup:
    - news
    - speeches_and_statements
  format_name: News or communications
  show_summaries: true
  sort:
  - name: Most viewed
    key: "-popularity"
  - name: Relevance
    key: "-relevance"
  - name: Updated (newest)
    key: "-public_timestamp"
    default: true
  - name: Updated (oldest)
    key: public_timestamp
  facets:
  - key: related_to_brexit
    filter_key: all_part_of_taxonomy_tree
    filter_value: d6c2de5d-ef90-45d1-82d4-5f2438369eea
    name: Show only transition period results
    short_name: transition period
    type: checkbox
    display_as_result_metadata: false
    filterable: true
    preposition: about
  - key: "_unused"
    filter_key: all_part_of_taxonomy_tree
    keys:
    - level_one_taxon
    - level_two_taxon
    name: topic
    short_name: topic
    type: taxon
    display_as_result_metadata: false
    filterable: true
    preposition: about
  - key: topic
    filter_key: all_part_of_taxonomy_tree
    name: topic
    short_name: topic
    type: hidden
    display_as_result_metadata: false
    hide_facet_tag: true
    filterable: true
  - key: organisations
    name: Organisation
    short_name: From
    preposition: from
    type: hidden_clearable
    display_as_result_metadata: true
    filterable: true
    show_option_select_filter: true
  - key: people
    name: Person
    preposition: from
    type: text
    display_as_result_metadata: false
    filterable: true
    show_option_select_filter: true
  - key: roles
    name: Roles
    preposition: from
    type: hidden
    display_as_result_metadata: false
    filterable: true
    show_option_select_filter: true
  - key: world_locations
    name: World location
    preposition: in
    type: hidden_clearable
    display_as_result_metadata: true
    filterable: true
    show_option_select_filter: true
  - key: public_timestamp
    short_name: Updated
    name: Updated
    preposition: Updated
    type: date
    display_as_result_metadata: true
    filterable: true
  - display_as_result_metadata: false
    filterable: true
    key: topical_events
    name: Topical event
    preposition: about
    short_name: about
    type: hidden
    show_option_select_filter: false
    allowed_values: []
  default_documents_per_page: 20
routes:
- path: "/search/news-and-communications"
  type: exact
- path: "/search/news-and-communications.atom"
  type: exact
- path: "/search/news-and-communications.json"
  type: exact
