---
analytics_identifier:
base_path: "/search/statistics"
content_id: 8f827d53-9ad1-4b90-b6ae-2301c1ecdf02
content_purpose_document_supertype: navigation
document_type: finder
email_document_supertype: other
first_published_at: '2019-01-15T14:47:48.000+00:00'
government_document_supertype: other
locale: en
navigation_document_supertype: other
phase: alpha
public_updated_at: '2019-01-15T14:47:48.000+00:00'
publishing_app: finder-frontend
rendering_app: finder-frontend
schema_name: finder
search_user_need_document_supertype: government
title: Research and Statistics
updated_at: '2019-01-15T14:47:48.000+00:00'
user_journey_document_supertype: finding
withdrawn_notice: {}
publishing_request_id: ''
links:
  email_alert_signup:
  - api_path: "/api/content/search/statistics/email-signup"
    base_path: "/search/statistics/email-signup"
    content_id: 119db584-0ae7-45e4-8f3a-fd79316c6921
    document_type: finder_email_signup
    locale: en
    public_updated_at: '2019-03-14T10:22:17Z'
    schema_name: finder_email_signup
    title: Statistics
    withdrawn: false
    links: {}
    api_url: https://www.gov.uk/api/content/policy-papers-and-consultations/email-signup
    web_url: "/search/statistics/email-signup"
description: Find statistics from government
details:
  document_noun: result
  filter: {}
  format_name: statistic
  show_summaries: true
  sort:
  - name: Most viewed
    key: "-popularity"
  - name: Relevance
    key: "-relevance"
  - name: Updated (newest)
    key: "-public_timestamp"
    default: true
  - name: Updated (oldest)
    key: public_timestamp
  - name: Release date (latest)
    key: "-release_timestamp"
  - name: Release date (oldest)
    key: release_timestamp
  facets:
  - key: release_timestamp
    name: release_timestamp
    short_name: Release date
    preposition: from
    type: date
    display_as_result_metadata: true
    filterable: false
  - key: statistics_announcement_state
    name: State
    short_name: State
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - key: display_type
    name: content_store_document_type
    short_name: Document type
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - key: document_collections
    name: document_collections
    short_name: Part of a collection
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - filter_key: all_part_of_taxonomy_tree
    keys:
    - level_one_taxon
    - level_two_taxon
    name: topic
    short_name: topic
    type: taxon
    display_as_result_metadata: false
    filterable: true
    preposition: about
  - key: content_store_document_type
    name: Statistics
    type: radio
    display_as_result_metadata: false
    filterable: true
    hide_facet_tag: true
    preposition: that are
    option_lookup:
      statistics_published:
      - statistics
      - national_statistics
      - statistical_data_set
      - official_statistics
      statistics_upcoming:
      - statistics_announcement
      - national_statistics_announcement
      - official_statistics_announcement
      research:
      - dfid_research_output
      - independent_report
      - research
    allowed_values:
    - label: Statistics (published)
      value: statistics_published
      default: true
    - label: Statistics (upcoming)
      value: statistics_upcoming
    - label: Research
      value: research
  - key: organisations
    name: Organisation
    short_name: Organisation
    preposition: from
    type: text
    show_option_select_filter: true
    display_as_result_metadata: true
    filterable: true
  - key: world_locations
    name: World location
    preposition: in
    type: text
    show_option_select_filter: true
    display_as_result_metadata: true
    filterable: true
  - key: public_timestamp
    short_name: Updated
    name: Updated
    type: date
    display_as_result_metadata: true
    filterable: true
  default_documents_per_page: 20
