---
base_path: "/search/research-and-statistics"
content_id: 8f827d53-9ad1-4b90-b6ae-2301c1ecdf02
description: Find statistics from government
document_type: finder
locale: en
publishing_app: rummager
rendering_app: finder-frontend
schema_name: finder
signup_content_id: 119db584-0ae7-45e4-8f3a-fd79316c6921
title: Research and statistics
details:
  document_noun: result
  filter: {}
  format_name: statistic
  show_summaries: true
  sort:
  - name: Most viewed
    key: "-popularity"
  - name: Relevance
    key: "-relevance"
  - name: Updated (newest)
    key: "-public_timestamp"
    default: true
  - name: Updated (oldest)
    key: public_timestamp
  - name: Release date (latest)
    key: "-release_timestamp"
  - name: Release date (oldest)
    key: release_timestamp
  facets:
  - key: release_timestamp
    name: release_timestamp
    short_name: Release date
    preposition: from
    type: date
    display_as_result_metadata: true
    filterable: false
  - key: statistics_announcement_state
    name: State
    short_name: State
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - key: display_type
    name: content_store_document_type
    short_name: Document type
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - key: document_collections
    name: document_collections
    short_name: Part of a collection
    preposition: from
    type: text
    display_as_result_metadata: true
    filterable: false
  - key: _unused
    filter_key: all_part_of_taxonomy_tree
    keys:
    - level_one_taxon
    - level_two_taxon
    name: topic
    short_name: topic
    type: taxon
    display_as_result_metadata: false
    filterable: true
    preposition: about
  - key: research_and_statistics
    name: Statistics
    type: radio
    display_as_result_metadata: false
    filterable: true
    hide_facet_tag: true
    preposition: that are
    allowed_values:
    - label: Statistics (published)
      value: published_statistics
      default: true
    - label: Statistics (upcoming)
      value: upcoming_statistics
    - label: Research
      value: research
  - key: organisations
    name: Organisation
    short_name: Organisation
    preposition: from
    type: text
    show_option_select_filter: true
    display_as_result_metadata: true
    filterable: true
  - key: world_locations
    name: World location
    preposition: in
    type: text
    show_option_select_filter: true
    display_as_result_metadata: true
    filterable: true
  - key: public_timestamp
    short_name: Updated
    name: Updated
    preposition: Updated
    type: date
    display_as_result_metadata: true
    filterable: true
  default_documents_per_page: 20
routes:
- path: "/search/research-and-statistics"
  type: exact
- path: "/search/research-and-statistics.atom"
  type: exact
- path: "/search/research-and-statistics.json"
  type: exact
