awscli==1.27.57
requests==2.31.0
sagemaker==2.129.0
## The following requirements were added by pip freeze:
attrs==22.2.0
boto3==1.26.57
botocore==1.29.57
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.4
contextlib2==21.6.0
dill==0.3.6
docutils==0.16
google-pasta==0.2.0
idna==3.4
importlib-metadata==4.13.0
jmespath==1.0.1
multiprocess==0.70.14
numpy==1.24.1
packaging==23.0
pandas==1.5.3
pathos==0.3.0
pox==0.3.2
ppft==1.7.6.6
protobuf==3.20.3
protobuf3-to-dict==0.1.5
pyasn1==0.4.8
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.6.0
schema==0.7.5
six==1.16.0
smdebug-rulesconfig==1.0.1
urllib3==1.26.14
zipp==3.11.0
